<p id="notice"><%= notice %></p>

<p>
  <strong>Address line 1:</strong>
  <%= @contact.address_line_1 %>
</p>

<p>
  <strong>Address line 2:</strong>
  <%= @contact.address_line_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @contact.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @contact.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @contact.country %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @contact.contact_number %>
</p>

<p>
  <strong>Other details:</strong>
  <%= @contact.other_details %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
